<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<main class="container">
		<section class="about">
			<a href="{{ site.url }}"><img src="{{ "/assets/portifolio.png" | relative_url }}" alt="{{ site.plainwhite.name }}"></a>
			<h2>{{ site.plainwhite.name }}</h2>
			<p class="tagline">{{ site.plainwhite.tagline }}</p>
			<div style="text-align: center; margin-bottom: 17px;">Student of Computer Science at University Federal of Alagoas</div>
			<div style="text-align: center; margin-bottom: 17px;">C, C++, Java, Python, Artificial Intelligence, Data Science, Software Engineering, Machine Learning.</div>
			<div style="text-align: center; "><a href="mailto:amsr@ic.ufal.br">amsr@ic.ufal.br</a></div>
			<ul style="margin-top: 17px;" class="social">
                {%- if site.plainwhite.social_links.github -%}
				<a href="https://github.com/{{ site.plainwhite.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
                {%- endif -%}
                {%- if site.plainwhite.social_links.linkedIn -%}
				<a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
                {%- endif -%}
                {%- if site.plainwhite.social_links.twitter -%}
                <a href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}"><li><i class="icon-twitter-squared"></i></li></a>
                {%- endif -%}
			</ul>
			<nav>
				<a href="{{ site.url }}">Home</a>
				<a href="{{ "/about.html" | relative_url }}">About</a>
				<!-- <a href="{{ "/research.html" | relative_url }}">Research</a> -->
				<a href="{{ "/projects.html" | relative_url }}">Projects</a>					
			</nav>
			<p>&copy; 2019</p>
		</section>
		<section class="content">
			{{ content }}
		</section>
	</main>
	{%- if site.plainwhite.analytics_id -%}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
	{%- endif -%}
</body>
</html>
